// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      color: #23272b;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      display: unset;
      color: #23272b;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 24px;
      text-transform: uppercase;

      &.active {
        color: #dba919;
      }

      &:hover, &:focus {
        color: #dba919;
      }
    }
  }
}