@import './shared/_fonts.scss';

//INDEX PAGES
@import './index';

// COMPONENTS
@import './_header';

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica', serif;
}

.self-typed {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fafafa;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
}