@import './shared/_fonts.scss';

//INDEX PAGES
@import './index';

// COMPONENTS
@import './_header';

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica', serif;
}

.click {
  cursor: pointer;
}

.self-typed {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fafafa;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
  color: white;
  background: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}